[Unit]
Description=Fetch every 5 minutes
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
#Run 5 minutes after boot for the first time
OnBootSec=300
#Run every 5 minutes thereafter
OnUnitActiveSec=300
#File describing job to execute
Unit=btc-conversion.service

[Install]
WantedBy=timers.target
