staging.usespiral.com {
    encode {
        gzip
        zstd
    }

    log {
        output file /data/access.log {
            format json
            roll_keep 100
        }
    }

    @spiral-api {
        path /setup
        path /query
        path /check
    }

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }

    handle_path /btcv1/*  {
        handle /info  {
            rewrite * /btc-balances.json
            root * /spiral-databases
            file_server
        }
        handle /block-timestamps  {
            rewrite * /block-timestamps.json
            root * /spiral-databases
            file_server
        }
        reverse_proxy @spiral-api http://worker:8089
    }

}