[Unit]
Description=Balance service
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=1
User=samir
WorkingDirectory=/home/samir/spiral-rs/spiral-rs
ExecStart=/home/samir/spiral-rs/spiral-rs/target/release/server /home/samir/bitcoin-data/latest.dbp 8089 14 65536
MemoryAccounting=true
MemoryHigh=20G
MemoryMax=30G

[Install]
WantedBy=multi-user.target
