[Unit]
Description=Spiral service
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=1
User=samir
ExecStart=/home/samir/spiral-rs/spiral-rs/target/release/server /home/samir/wiki/enwiki-20220320.dbp
MemoryAccounting=true
MemoryHigh=65G
MemoryMax=70G

[Install]
WantedBy=multi-user.target

